/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */




/* .container{
  background: rgb(39,95,158);
  background: linear-gradient(160deg, rgba(39,95,158,1) 20%, rgba(25,25,101,1) 40%, rgba(54,38,126,1) 65%, rgba(190,20,20,1) 92%);
} */